.bg-img-1{
    background-image: url(/assets/image/bg-img-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.events {
    color: #2C49FE;
}

.free {
    color: #01C8FF;
}

.button {
    background: #2C49FE;
    padding: 11px 28px;
    border: 0;
    border-radius: 23px;
    color: white;
    transition: all 1s ease-in-out;
}

.button:hover {
    background: #2C49FE1A;
    color: black;
}

.home {
    color: white;
    transition: all .2s ease-in-out;
}

.home:hover {
    opacity: 60%;
}
.padding-t-b{
    padding-top: 17px;
    padding-bottom: 50px;
}
.mb-143{
    margin-bottom: 143px;
}


/*-----------------------------------fonts------------------------*/
.poppins-600-48 {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 600;
}

.poppins-600-24 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.poppins-400-16 {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.poppins-400-12 {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.poppins-700-36 {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 700;
}

.poppins-600-16 {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.poppins-500-16 {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.poppins-700-16 {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.poppins-600-24 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.poppins-600-36 {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}

/*------------------------------responsive---------------------*/
@media (max-width:992px) {
    .navlist {
        flex-direction: column !important;
        width: 100%;
        height: 100%;
        justify-content: center;
        background-color: white;
        position: fixed !important;
        top: 0;
        right: -100%;
        z-index: 4;
        transition: all 0.3s;
        height: 100vh;
    }

    label[for="menubar"] {
        width: 32px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        z-index: 5;
    }

    label[for="menubar"] span {
        width: 100%;
        height: 5px;
        margin: 2px 0;
        background-color: black;
        z-index: 5;
    }

    input[type="checkbox"]:checked~.navlist {
        right: 0;
    }
}